
html {height:100%;
}

body{background-color: #eea334;
    text-align: center;
    font-family: 'helvetica', sans-serif;
    font-size: medium;

}

#pie{
    font-family: 'Calibri', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: x-small;
    }

#image{
    align-items: center;

}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
  }