
html {height:100%;
}

body{background-color: #eea334;
    text-align: center;
    font-family: 'helvetica', sans-serif;
    font-size: medium;
}

h1{color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

#centrado{
    
    margin-top: 20%;
}

#pie{
    font-family: 'Calibri', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: x-small;
    }

#image{
    align-items: center;

}